# macOSの隠しファイル
.DS_Store

# nvimのスワップファイル（たまにできる）
*.swp

# バックアップファイル
*~

# Node.js関連（今後使うかもなので先に追加）
node_modules/
dist/
.env

# Python関連（今後予定あり）
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
.venv/
env/

