body {
  background-color: #364AFF;
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  line-height: 1.6;
}

.container {
  max-width: 1400px;
  margin: 40px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0 2px 15px rgba(0,0,0,0.9);
}

h1 {
  color: #060E57;
  text-align: center;
}

h2 {
  color: #FFB30E;
  margin-top: 30px;
}

h3 {
  color: #7DA4EB;
  margin-top: 20px;
}

p {
  margin: 10px 0;
}

